################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Estudos C#/WorkerData/WorkerData.sln
